{% for proxy_public_name, proxy_stats in proxies_stats.items() %}
    {% if not (proxy_stats.died and 'Public' in proxy_public_name) %}
<tr>
    <td>
        <button type="button" class="btn btn-xs {{'btn-inverse' if not proxy_stats.enabled else ('btn-danger' if proxy_stats.died else 'btn-success') }} proxy"
                data-proxy-id="{{ proxy_stats['proxy_id'] or '' }}">
            {{ proxy_public_name }}
        </button>
    </td>
    <td class="rx-speed" data-sort="{{ proxy_stats.rx_speed_value }}">{{ proxy_stats.rx_speed_label }}</td>
    <td data-sort="{{ proxy_stats.rx_bytes_value }}">{{ proxy_stats.rx_bytes_label }}</td>
    <td class="tx-speed" data-sort="{{ proxy_stats.tx_speed_value }}">{{ proxy_stats.tx_speed_label }}</td>
    <td data-sort="{{ proxy_stats.tx_bytes_value }}">{{ proxy_stats.tx_bytes_label }}</td>
</tr>
    {% endif %}
{% endfor %}
